.header {
  background-color: yellow;
}

.header .header_row:first-child {
  margin-bottom: 25px;
  font-size: 12px;
}

.header .header_row:first-child ul {
  display: flex;
  justify-content: flex-end;
}

.header .header_row:first-child ul li {
  margin-left: 15px;
}

.header .header_row:first-child ul li:nth-child(2),
.header .header_row:first-child ul li:nth-child(3) {
  color: rgb(194, 198, 203);
}

.header .header_row:nth-child(2) {
  display: flex;
  height: 55px;
  width: 100%;
}

.header .header_row:nth-child(2) .header-logo {
  width: 240px;
}

.header .header_row:nth-child(2) form {
  width: 580px;
  height: 100%;
  position: relative;
}

.header .header_row:nth-child(2) input {
  height: 100%;
  width: 580px;
  padding: 0px;
  border: 1px solid rgb(31, 218, 40);
  outline: none;
  font-size: 20px;
}

.header .header_row:nth-child(2) form button {
  background-color: rgb(31, 218, 40);
  height: 55px;
  width: 50px;
  top: 1px;
  right: -1px;
  position: absolute;
  text-align: center;
  border: none;
  color: white;
  outline: none;
}
