/* left */
main .container {
  display: flex;
  width: 78%;
  margin: 0 auto;
  max-width: 1130px;
}

main .container .left {
  max-width: 750px;
  margin-right: 20px;
}

main .container .right {
  width: 35%;
  max-width: 350px;
}

main .container .left .adver {
  margin-top: 20px;
  height: 150px;
}

main .container .left .adver .adver_img {
  width: 100%;
  height: 100%;
}

main .container .left .news {
  border: 1px solid rgb(196, 193, 193);
  background-color: rgb(241, 237, 237);
  padding: 15px;
  margin: 10px 0px;
}

main .container .left .news .news_title,
main .container .left .hot-clip .hot-clip_guide,
main .container .left .table .table_guide,
main .container .left .hot-clip .hot-clip_menu ul,
main .container .left .hot-clip .hot-clip_content {
  display: flex;
  justify-content: space-between;
}

main .container .left .news .news_title .news_nav ul,
main .container .left .table .table_guide ul,
main .container .left .hot-clip .hot-clip_guide ul,
main .container .left .hot-clip .hot-clip_nav ul {
  display: flex;
}

main .container .left .news .news_title .news_nav ul li,
main .container .left .table .table_guide ul li {
  margin-left: 10px;
}

main .container .left .table .table_content {
  margin: 10px 0px 20px 0px;
}

main .container .left .table .table_content table {
  border-collapse: collapse;
  width: 100%;
}

main .container .left .table .table_content td {
  border: 1px solid rgb(196, 193, 193);
  width: 130px;
  height: 65px;
}

main .container .left .table .table_content td .img {
  background-image: url(../image/052.png);
  width: 100%;
  height: 25px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

main
  .container
  .left
  .hot-clip
  .hot-clip_guide
  .hot-clip_title
  span:first-child {
  font-weight: bold;
}

main
  .container
  .left
  .hot-clip
  .hot-clip_guide
  .hot-clip_title
  span:last-child {
  font-size: 12px;
  color: rgb(119, 119, 119);
}

main
  .container
  .left
  .hot-clip
  .hot-clip_guide
  .hot-clip_setting
  ul
  li:last-child {
  margin-left: 10px;
}

main .container .left .hot-clip .hot-clip_menu ul li {
  width: 30%;
  height: 50px;
  border: 1px solid rgb(196, 193, 193);
}

main .container .left .hot-clip .hot-clip_menu {
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 15px;
  border-collapse: collapse;
  margin: 20px 0px;
}

main .container .left .hot-clip .hot-clip_content .col {
  width: 48%;
}

main .container .left .hot-clip .hot-clip_content .col video {
  width: 100%;
  height: 180px;
}

main .container .left .hot-clip .hot-clip_content .col .content {
  text-align: center;
  font-weight: bold;
}

main .container .left .hot-clip .hot-clip_nav {
  border: 1px solid rgb(196, 193, 193);
  background-color: rgb(241, 237, 237);
  padding: 15px;
  margin: 20px 0px;
}

main .container .left .hot-clip .hot-clip_nav ul li {
  margin-right: 20px;
}

main .container .left .hot-clip .hot-clip_nav ul li:nth-child(2) {
  color: rgb(196, 193, 193);
}

main .container .left .hot-clip .hot-clip_highlight .items_row {
  border-bottom: 1px solid rgb(196, 193, 193);
  margin-bottom: 10px;
  text-align: center;
}

main .container .left .hot-clip .hot-clip_highlight .items_row:last-child {
  border-bottom: none;
}

main .container .left .hot-clip .hot-clip_highlight .items_row .item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}

main .container .left .hot-clip .hot-clip_highlight .items_row .item img {
  width: 223px;
}

/* right */

main .container .right {
  position: sticky;
  top: 0px;
  height: 1650px;
}

main .container .right .rogin {
  border: 1px solid rgb(196, 193, 193);
  background-color: rgb(241, 237, 237);
  margin-top: 20px;
  height: 150px;
}

main .container .right .rogin .content {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

main .container .right .rogin .content .image {
  display: flex;
}

main .container .right .rogin .image img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
}

main .container .right .rogin .image .info .info_name .border,
main .container .right .rogin .image .info .info_email {
  color: rgb(170, 168, 168);
}

main .container .right .rogin .image .info .mail_cnt {
  color: rgb(31, 218, 40);
}

main .container .right .rogin .rogout span {
  background-color: rgb(190, 189, 189);
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

main .container .right .rogin .nav {
  border-top: 1px solid rgb(196, 193, 193);
  position: relative;
  bottom: -6px;
}
main .container .right .rogin .nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

main .container .right .rogin .nav ul li {
  width: 30%;
  height: 100%;
  border-left: 1px solid rgb(196, 193, 193);
  line-height: 40px;
  font-weight: bold;
}

main .container .right .rogin .nav ul li:first-child {
  border-left: none;
}

main .container .right .weather {
  border: 1px solid rgb(196, 193, 193);
  background-color: rgb(241, 237, 237);
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 15px;
}

main .container .right .weather > .temp .temp {
  font-weight: bold;
}

main .container .right .weather .area {
  display: flex;
}

main .container .right .weather .area .name {
  margin-right: 10px;
}

main .container .right .weather .area .moveBtn {
  display: flex;
  width: 50px;
}

main .container .right .weather .area .moveBtn .leftArrow,
main .container .right .weather .area .moveBtn .rightArrow {
  border: 1px solid rgb(196, 193, 193);
  display: inline-block;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

main .container .right .eventAdver img {
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
}

main .container .right .shopping .shopping_guide {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

main .container .right .shopping .shopping_guide ul {
  display: flex;
}

main .container .right .shopping .shopping_guide ul li {
  margin-left: 10px;
}

main .container .right .shopping .shopping_content .nav {
  border: 1px solid rgb(196, 193, 193);
  background-color: rgb(241, 237, 237);
}

main .container .right .shopping .shopping_content .nav ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 10px;
}

main .container .right .shopping .shopping_content .nav ul li {
  margin: 3px 4px;
  cursor: pointer;
}

main .container .right .shopping .shopping_content .ware img {
  width: 105px;
  height: 150px;
  border-radius: 5px;
}

main .container .right .shopping .shopping_content .ware {
  border: 1px solid rgb(196, 193, 193);
  padding: 10px 0px 25px 0px;
}

main .container .right .shopping .shopping_content .ware .ware_page {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

main .container .right .shopping .shopping_content .ware .ware_page .moveBtn {
  margin: 0px 10px;
  display: flex;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .ware
  .ware_page
  .moveBtn
  .leftArrow,
main
  .container
  .right
  .shopping
  .shopping_content
  .ware
  .ware_page
  .moveBtn
  .rightArrow,
main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:first-child
  .play-fun_page
  .moveBtn
  .leftArrow,
main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:first-child
  .play-fun_page
  .moveBtn
  .rightArrow {
  border: 1px solid rgb(196, 193, 193);
  display: inline-block;
  width: 40px;
  padding: 5px 0px;
  text-align: center;
  cursor: pointer;
}

main .container .right .shopping .shopping_content .ware .ware_page .pageNum {
  display: flex;
  align-items: center;
}

main .container .right .shopping .shopping_content .ware .ware_content {
  text-align: center;
}

main .container .right .shopping .shopping_content .ware .ware_content ul li {
  display: inline-block;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .ware
  .ware_content
  ul
  li
  span {
  font-size: 13px;
}

main .container .right .shopping .shopping_content .play-fun {
  border: 1px solid rgb(196, 193, 193);
  border-top: none;
  padding: 25px 0px 10px 10px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:first-child
  .play-fun_page {
  display: flex;
  align-items: center;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:first-child
  .play-fun_page
  .moveBtn {
  display: flex;
  margin: 0px 10px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:nth-child(2)
  ul
  li
  img {
  width: 125px;
  height: 80px;
  border-radius: 5px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:nth-child(2)
  li {
  display: flex;
  margin: 10px 0px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:nth-child(2)
  li
  .comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

main
  .container
  .right
  .shopping
  .shopping_content
  .play-fun
  .play-fun_row:nth-child(2)
  li
  .comment
  .text {
  margin-top: 5px;
  font-size: 14px;
}
